
<nav class="navbar navbar-expand-xl navbar-light showmobile">
  <%= image_tag 'images/calque2.png', class: 'logonav' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Accueil', 'index', class: 'btn' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Programme de la journée', 'programme', class: 'btn' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Informations pratiques', 'informations', class: 'btn' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Confirmez votre présence', 'form', class: 'btn' %>
      </li>
    </ul>
  </div>
</nav>
