---
title: Confirmez votre présence - Mariage Julia & Antoine
---
<%= image_tag "images/calque2.png", class: "topfix hidemobile" %>
<%= image_tag "images/calque3.png", class: "bottomfix hidemobile" %>
<%= image_tag 'images/calque3.png', class: 'footerimg showmobile' %>

<div class="container">


  <div class="fixedlink hidemobile">
    <%= link_to 'Accueil', 'index', class: 'btn' %>
    <br>
    <br>
    <%= link_to 'Programme de la journée', 'programme', class: 'btn' %>
    <br>
    <br>

    <%= link_to 'Informations pratiques', 'informations-pratiques', class: 'btn' %>
    <br>
    <br>
    <%= link_to 'Confirmez votre présence', 'formulaire', class: 'tab btn' %>

  </div>

  <div class="maintext">
</div>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf6pQ-BkRmijksD0LY6ga2yBrY3WxA7Blp1gm_x38InRfh7fg/viewform?embedded=true" width="640" height="1303" style="max-width: 100%;" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
</div>
<br>
<br>
<br>
