---
title: Confirmez votre présence - Mariage Julia & Antoine
---
<%= image_tag "images/calque2.png", class: "topfix hidemobile" %>
<%= image_tag "images/calque3.png", class: "bottomfix hidemobile" %>

<div class="container">


  <div class="fixedlink hidemobile">
    <%= link_to 'Accueil', 'index', class: 'btn' %>
    <br>
    <br>
    <%= link_to 'Programme de la journée', 'programme', class: 'btn' %>
    <br>
    <br>

    <%= link_to 'Informations pratiques', 'informations', class: 'btn' %>
    <br>
    <br>
    <%= link_to 'Confirmez votre présence', 'form', class: 'tab btn' %>

  </div>

  <div class="maintext">
    <h1>Formulaire</h1>
  </div>
  <form id="fs-frm" name="survey-form" accept-charset="utf-8" action="https://formspree.io/f/mnqoybed" method="post">
    <fieldset id="fs-frm-inputs">
      <label for="full-name">Nom</label>
      <input type="text" name="Nom" id="full-name" placeholder="Nom(s) et prénom(s)" required="">
      <label for="email-address">Adresse email</label>
      <input type="email" name="Adresse email" id="email-address" placeholder="julia@tonio.babe" required="">
      <label for="phone-number">Téléphone</label>
      <input type="tel" name="Téléphone" id="phone" placeholder="06 07 08 09 10" required="">
      <fieldset id="fs-frm-selects">
        <label for="timely">Serez-vous présent(s) ?</label>
        <select name="Serez-vous présent(s)" id="timely" required="">
          <option value="" selected="" disabled=""></option>
          <option value="Oui">Oui</option>
          <option value="Non">Non</option>
        </select>
        <label for="timely">Resterez-vous dormir ?</label>
        <select name="Resterez-vous dormir" id="quality" required="">
          <option value="" selected="" disabled=""></option>
          <option value="Oui">Oui</option>
          <option value="Non">Non</option>
        </select>
        <label for="timely">Serez-vous là pour le brunch le lendemain ?</label>
        <select name="Serez-vous là pour le brunch" id="quality" required="">
          <option value="" selected="" disabled=""></option>
          <option value="Oui">Oui</option>
          <option value="Non">Non</option>
        </select>
      </fieldset>
      <label for="message">Commentaires</label>
      <textarea rows="3" name="Commentaires" id="message" placeholder="" ></textarea>
      <input type="hidden" name="_subject" id="email-subject" value="Survey Responses">
    </fieldset>
    <br>
    <input type="submit" value="Envoyer">
    <br>
    <br>
    <br>
    <br>
    <br>
  </form>
</div>

