---
title: Accueil
---
<%= image_tag "images/calque2.png", class: "topfix hidemobile" %>
<%= image_tag "images/calque3.png", class: "bottomfix hidemobile" %>

<div class="container">

<div class="fixedlink hidemobile">
  <%= link_to 'Accueil', 'index.html', class: 'btn' %>
  <br>
  <br>
  <%= link_to 'Programme de la journée', 'programme.html', class: 'btn' %>
  <br>
  <br>

  <%= link_to 'Informations pratiques', 'informations.html', class: 'btn' %>
  <br>
  <br>
  <%= link_to 'Répondre ici', 'form.html', class: 'btn' %>

</div>


<div class="maintext">
  <h3>Mariage</h3>
  <h3>Julia & Antoine</h3>
  <h3>26 juin 2021</h3>
  <h3>Moulin de Carremonge</h3>
</div>
<br>
<img src="images/jutonio.jpg" alt="" style="width: 100%; border-radius: 3px; border: 1px solid #4A4A4A; box-shadow: 10px 5px 5px gray;">


</div>

