---
title: Mariage Julia & Antoine
---
<%= image_tag "images/calque2.png", class: "topfix hidemobile" %>
<%= image_tag "images/calque3.png", class: "bottomfix hidemobile" %>
<%= image_tag 'images/calque3.png', class: 'footerimg showmobile' %>

<div class="container">

  <div class="fixedlink hidemobile">
    <%= link_to 'Accueil', 'index', class: 'tab btn' %>
    <br>
    <br>
    <%= link_to 'Programme de la journée', 'programme', class: 'btn' %>
    <br>
    <br>

    <%= link_to 'Informations pratiques', 'informations-pratiques', class: 'btn' %>
    <br>
    <br>
    <%= link_to 'Confirmez votre présence', 'formulaire', class: 'btn' %>

  </div>

  <div class="maintext">
    <div class="circle">
        <p class="ptext">
          Mariage <br>
          Julia & Antoine <br>
          26 juin 2021 <br>
        Moulin de Carremonge</p>
    </div>
  </div>
</div>
