---
title: Informations pratiques
---
<%= image_tag "images/calque2.png", class: "topfix hidemobile" %>
<%= image_tag "images/calque3.png", class: "bottomfix hidemobile" %>

<div class="container">

<div class="fixedlink hidemobile">
  <%= link_to 'Accueil', 'index.html', class: 'btn' %>
  <br>
  <br>
  <%= link_to 'Programme de la journée', 'programme.html', class: 'btn' %>
  <br>
  <br>

  <%= link_to 'Informations pratiques', 'informations.html', class: 'btn' %>
  <br>
  <br>
  <%= link_to 'Répondre ici', 'form.html', class: 'btn' %>

</div>
<div class="maintext">
  <h1>Informations pratiques</h1>
  <br>
  <h5>Tous nos invités peuvent dormir sur place. Pour ceux qui le souhaitent, pensez à amener vos draps, coussins, serviettes de bain, etc.</h5>
</div>


</div>


<!--   <img src="images/faire-part.jpg" alt="" style="width: auto; height: 100vh; display: block; margin-left: auto; margin-right: auto;"> -->
