---
title: Programme de la journée
---
<%= image_tag "images/calque2.png", class: "topfix hidemobile" %>
<%= image_tag "images/calque3.png", class: "bottomfix hidemobile" %>

<div class="container">

<div class="fixedlink hidemobile">
  <%= link_to 'Accueil', 'index.html', class: 'btn' %>
  <br>
  <br>
  <%= link_to 'Programme de la journée', 'programme.html', class: 'btn' %>
  <br>
  <br>

  <%= link_to 'Informations pratiques', 'informations.html', class: 'btn' %>
  <br>
  <br>
  <%= link_to 'Répondre ici', 'form.html', class: 'btn' %>

</div>
<div class="maintext">
  <h1>Programme de la journée</h1>
  <br>
  <h4>Samedi 26 juin 2021</h4>
  <br>
  <h5>14h20 : Cérémonie civile à l’hôtel de ville de Bordeaux (Place Pey Berland)</h5>
  <h5>15h00 : Départ pour le lieu des festivités</h5>
  <h5>17h00 : Cérémonie laïque</h5>
  <br>
  <br>
  <h4>Dimanche 27 juin 2021</h4>
  <br>
  <h5>Brunch</h5>
</div>


</div>


<!--   <img src="images/faire-part.jpg" alt="" style="width: auto; height: 100vh; display: block; margin-left: auto; margin-right: auto;"> -->
